@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

:root {
  --background: #0f1717;
  --accent: #00d1c1;
}

body {
  background-color: #0f1717;
  background-image: radial-gradient(circle at 1px 1px, #1a2424 1px, transparent 0);
  background-size: 40px 40px;
  color: white;
  @apply antialiased;
}


::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #0f1717; }
::-webkit-scrollbar-thumb { background: #1a2424; border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: #00d1c1; }